<header class="header">
    <div class="header-container">
        <div class="logo">
            <img src="assets/aeropuerto.png" alt="Logo aeropuerto" class="logo-icon">
            <span class="logo-text"> EL GRAN VIAJE</span>
        </div>
        
        <nav class="nav">
            <a href="#" class="nav-link"> Vuelos</a>
            <a href="#" class="nav-link"> Ayuda</a>
            <a href="#" class="nav-link"> Cómo llegar</a>
            <a href="#" class="nav-link"> Iniciar sesión</a>
        </nav>
    </div>
</header>